%main.container.general-main-wrap
  %h1.general-title-margin= 'Order ' + @order.order_number
  .row.mb-20
    .col-sm-3
      = render 'engine_cart/checkouts/short_address', object: presenter.address('shipping')
    .col-sm-3
      = render 'engine_cart/checkouts/short_address', object: presenter.address('billing')
    .col-sm-3
      %h3.general-subtitle Shipments
      %p.general-address
        = presenter.shipping.product.title
        %br
        = presenter.shipping.product.description
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        = presenter.payment.four_numbers_of_card
        %br
        = presenter.payment.mm_yy
  .visible-xs
    = render 'engine_cart/order_items/order_items_v_xs', objects: presenter.order_items
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        = render 'engine_cart/order_items/order_items_h_xs', objects: presenter.order_items
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'engine_cart/orders/order_total_panel'
